@page "/todolist"

@inject BlazorWebAssembly.Client.Services.IToDoService ToDoService
@inject HttpClient Http

<PageTitle>MyToDoList</PageTitle>


<h1>My ToDoList</h1>

@if (toDoItems == null)
{
    <div>
        Getting data from Web API...
    </div>
}
else
{
    @foreach (var item in toDoItems)
    {
        <div>
            <div>
                Title: @item.Title
            </div>
            <div>
                Descriptiob: @item.Description
            </div>
            <div>
                <a href="/todolist/@item.Url">details</a>
            </div>
        </div>
    }
}

@code {
    private List<BlazorWebAssembly.Shared.ToDoItem> toDoItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //toDoItems = await ToDoService.GetAllToDoItems();
        toDoItems =  await Http.GetFromJsonAsync<List<BlazorWebAssembly.Shared.ToDoItem>>("api/ToDo");
    }
}