@page "/todolist"

@using BlazorWebAssembly.Shared
@inject BlazorWebAssembly.Client.Services.IToDoService ToDoService
@inject HttpClient Http

<PageTitle>MyToDoList</PageTitle>


<h1>My ToDoList</h1>

@if (ToDoItems == null)
{
    <div>
        Getting data from Web API...
    </div>
}
else if(ToDoItems.Count == 0){
    <div>
        There is nothing to do.
    </div>
}
else
{
    @foreach (var item in ToDoItems)
    {
        <div>
            <div>
                Title: @item.Title
            </div>
            <div>
                Descriptiob: @item.Description
            </div>
            <div>
                <a href="/todolist/@item.Url">details</a>
            </div>
        </div>
    }
}

@code {
    private List<ToDoItem> ToDoItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ToDoItems = await ToDoService.GetAllToDoItems();
    }
}