@page "/todolist/{url}"

@using BlazorWebAssembly.Shared
@inject BlazorWebAssembly.Client.Services.IToDoService ToDoService
@inject HttpClient Http

@if (ToDoItem == null)
{
    <div>
        Getting data from Web API...
    </div>
}
else
{
    <div>
        <h1>My ToDoItem: @ToDoItem.Title</h1>
        <div>
            Description: @ToDoItem.Description
        </div>
    </div>
}


@code {
    [Parameter]
    public string Url { get; set; }

    private ToDoItem ToDoItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ToDoItem = await ToDoService.GetToDoItemByUrl(Url);
    }

}
