@inject BlazorWebAssembly.Client.Services.IToDoService ToDoService

<h3>CreateComponent</h3>

<EditForm Model="@NewToDoItem" OnValidSubmit="CreateNewToDoItem">
    <div class="form-group">
        <label for="title">Title</label>
        <InputText id="titile" class="form-control" @bind-Value="NewToDoItem.Title" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>

@code {
    public ToDoItem NewToDoItem = new ToDoItem();

    private async Task CreateNewToDoItem()
    {
        await ToDoService.CreateToDoItem(NewToDoItem);
    }
}
