@inject BlazorWebAssembly.Client.Services.IToDoService ToDoService

<div class="create-component">
    <EditForm class="d-flex flex-row" Model="@NewToDoItem" OnValidSubmit="CreateNewToDoItem">
        <DataAnnotationsValidator />
        <div class="form-group d-flex flex-row">
            <ValidationMessage For="@(()=>NewToDoItem.Title)" />
            <label  for="title"></label>
            <InputText placeholder="Title" id="titile" class="form-control" style="max-width: 300px" @bind-Value="NewToDoItem.Title" />
            
        </div>
        <button type="submit" class="btn btn-primary oi oi-plus"></button>
    </EditForm>
</div>

@code {
    public ToDoItem NewToDoItem = new ToDoItem();

    [Parameter]
    public EventCallback<ToDoItem> Callback { get; set; }

    private async Task CreateNewToDoItem()
    {
        var item = (ToDoItem)NewToDoItem.Clone();
        await Callback.InvokeAsync(item);

        NewToDoItem.Title = "";
    }
}
